.DS_Store
# Ignore files and directories made by `cmake .`.
build/
node_modules/
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestCustom.cmake
libopenjp2.pc
OpenJPEGConfig.cmake
Makefile
bin
.idea
CMakeFiles
